Repository adamtheturtle/click-compose: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, doc8, interrogate, interrogate-docs, mypy, mypy-docs, pylint, pyproject-fmt-fix, pyright, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, shellcheck-docs, shfmt-docs, sphinx-lint, vulture-docs, yamlfix

actionlint:
  name: actionlint
  entry: uv run --extra=dev actionlint
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

doc8:
  name: doc8
  entry: uv run --extra=dev doc8
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

interrogate:
  name: interrogate
  entry: uv run --extra=dev interrogate
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-push

interrogate-docs:
  name: interrogate docs
  entry: uv run --extra=dev doccmd --language=python --command="interrogate"
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

mypy:
  name: mypy
  entry: uv run --extra=dev mypy
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-push
  require_serial: true

mypy-docs:
  name: mypy-docs
  entry: uv run --extra=dev doccmd --language=python --command="mypy"
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-push

pylint:
  name: pylint
  entry: uv run --extra=dev pylint
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-push
  require_serial: true

pyproject-fmt-fix:
  name: pyproject-fmt
  entry: uv run --extra=dev pyproject-fmt
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

pyright:
  name: pyright
  entry: uv run --extra=dev pyright
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-push
  require_serial: true

pyright-docs:
  name: pyright-docs
  entry: uv run --extra=dev doccmd --language=python --command="pyright"
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-push

ruff-check-fix-docs:
  name: ruff check fix docs
  entry: uv run --extra=dev doccmd --language=python --command="ruff check --fix"
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

ruff-format-fix-docs:
  name: ruff format docs
  entry: uv run --extra=dev doccmd --language=python --no-pad-file --command="ruff format"
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

shellcheck-docs:
  name: shellcheck-docs
  entry: uv run --extra=dev doccmd --language=shell --language=console --command="shellcheck --shell=bash"
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

shfmt-docs:
  name: shfmt-docs
  entry: uv run --extra=dev doccmd --language=shell --language=console --skip-marker=shfmt --no-pad-file --command="shfmt --write --space-redirects --indent=4"
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

sphinx-lint:
  name: sphinx-lint
  entry: uv run --extra=dev sphinx-lint --enable all --max-line-length 200
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

Bump doccmd to 2026.3.1 and requires-python to >=3.11
  CHANGELOG.rst
  pyproject.toml
Due: doc8, interrogate-docs, mypy-docs, pyproject-fmt-fix, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, shellcheck-docs, shfmt-docs, sphinx-lint, vulture-docs

Remove Python 3.10 from CI matrix
  .github/workflows/ci.yml
Due: actionlint, yamlfix

Apply pyproject-fmt 2.18 inline table key reordering
  pyproject.toml
Due: pyproject-fmt-fix

Add completion-lint job
  .github/workflows/ci.yml
Due: actionlint, yamlfix

Separate lint into lint.yml workflow
  .github/workflows/lint.yml
Due: actionlint, yamlfix

Fix zizmor lint: upgrade to 1.23.1, disable superfluous-actions and secrets-outside-env
  pyproject.toml
  zizmor.yml
Due: actionlint, pyproject-fmt-fix, yamlfix

Remove secrets-outside-env disable, add environment to jobs that use secrets
  zizmor.yml
Due: actionlint, yamlfix

Add Hypothesis property-based tests for sequence_validator
  pyproject.toml
  tests/test_sequence_validator_hypothesis.py
Due: interrogate, mypy, pylint, pyproject-fmt-fix, pyright

Fix mypy errors by asserting result is not None
  tests/test_sequence_validator_hypothesis.py
Due: interrogate, mypy, pylint, pyright

Fix pylint empty list comparison warning
  tests/test_sequence_validator_hypothesis.py
Due: interrogate, mypy, pylint, pyright

Pin hypothesis to exact version 6.151.9
  pyproject.toml
Due: pyproject-fmt-fix

Remove unused dependabot/fetch-metadata step
  .github/workflows/dependabot-merge.yml
Due: actionlint, yamlfix

Remove tests now covered by Hypothesis property-based tests
  tests/test_sequence_validator.py
Due: interrogate, mypy, pylint, pyright

Merge Hypothesis tests into test_sequence_validator.py
  tests/test_sequence_validator.py
  tests/test_sequence_validator_hypothesis.py
Due: interrogate, mypy, pylint, pyright

Use CLI runner in Hypothesis tests for consistency
  tests/test_sequence_validator.py
Due: interrogate, mypy, pylint, pyright

Fix spelling: use 'arguments' instead of 'args' in docstring
  tests/test_sequence_validator.py
Due: interrogate, mypy, pylint, pyright

Remove _build_args helper, inline argument building in each test
  tests/test_sequence_validator.py
Due: interrogate, mypy, pylint, pyright

Move release and tag version into env vars to prevent template injection
  .github/workflows/release.yml
Due: actionlint, yamlfix

Enable template-injection rule in zizmor config
  zizmor.yml
Due: actionlint, yamlfix

Fix template-injection in Check steps
  .github/workflows/release.yml
Due: actionlint, yamlfix

fix: use pull_request.user.login instead of github.actor for bot check (fixes adamtheturtle/literalizer#146)
  .github/workflows/dependabot-merge.yml
  zizmor.yml
Due: actionlint, yamlfix

Apply pyproject-fmt 2.20.0 formatting
  pyproject.toml
Due: pyproject-fmt-fix

Bump doccmd to 2026.3.26.2
  pyproject.toml
Due: pyproject-fmt-fix

Add CI and PyPI badges to README
  README.rst
Due: doc8, interrogate-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, shellcheck-docs, shfmt-docs, sphinx-lint, vulture-docs

chore: rename deptry pep621_dev_dependency_groups
  pyproject.toml
Due: pyproject-fmt-fix

Pin pytest-beartype-tests to git revision (Sybil-safe)
  pyproject.toml
  tests/conftest.py
Due: interrogate, mypy, pylint, pyproject-fmt-fix, pyright

Pin pytest-beartype-tests to 2026.4.20 on PyPI
  pyproject.toml
Due: pyproject-fmt-fix

Remove empty [tool.uv] table left after dropping git source override
  pyproject.toml
Due: pyproject-fmt-fix

chore: define uv version once in pre-commit config
  .pre-commit-config.yaml
Due: actionlint, yamlfix

chore: bump uv to 0.11.7 for pre-commit hooks
  .pre-commit-config.yaml
Due: actionlint, yamlfix

ci: bump astral-sh/setup-uv from v7 to v8.1.0
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
Due: actionlint, yamlfix

Bump mypy dependency to 2.0.0.
  pyproject.toml
Due: pyproject-fmt-fix

Enable mypy parallel workers in pre-commit
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Fix mypy-docs worker flag forwarding
  .pre-commit-config.yaml
Due: actionlint, yamlfix

chore: normalize mypy worker flags in pre-commit hooks
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Add strict-kwargs as a local pre-commit hook (dev dependency)
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, pyproject-fmt-fix, yamlfix

Fix strict-kwargs dev dependency alphabetical order
  pyproject.toml
Due: pyproject-fmt-fix

Fix malformed dev dependencies list in pyproject.toml
  pyproject.toml
Due: pyproject-fmt-fix

Bump strict-kwargs to 2026.5.18.post1 and revert Python changes
  pyproject.toml
Due: pyproject-fmt-fix

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  doc8: any of: \.(rst|txt)$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pylint: any of: \.py$
  pyproject-fmt-fix: any of: pyproject.toml
  pyright: any of: \.py$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  sphinx-lint: any of: \.rst$
  vulture-docs: any of: \.(md|markdown|mdown)$, \.rst$
  yamlfix: any of: \.(yaml|yml)$
