Repository adamtheturtle/click-compose: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, doc8, interrogate, interrogate-docs, mypy, mypy-docs, pylint, pyproject-fmt-fix, pyright, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, shellcheck-docs, shfmt-docs, sphinx-lint, vulture-docs, yamlfix

actionlint:
  name: actionlint
  entry: uv run --extra=dev actionlint
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

doc8:
  name: doc8
  entry: uv run --extra=dev doc8
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

interrogate:
  name: interrogate
  entry: uv run --extra=dev interrogate
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-push

interrogate-docs:
  name: interrogate docs
  entry: uv run --extra=dev doccmd --language=python --command="interrogate"
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

mypy:
  name: mypy
  entry: uv run --extra=dev mypy
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-push
  require_serial: true

mypy-docs:
  name: mypy-docs
  entry: uv run --extra=dev doccmd --language=python --command="mypy"
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-push

pylint:
  name: pylint
  entry: uv run --extra=dev pylint
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-push
  require_serial: true

pyproject-fmt-fix:
  name: pyproject-fmt
  entry: uv run --extra=dev pyproject-fmt
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

pyright:
  name: pyright
  entry: uv run --extra=dev pyright
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-push
  require_serial: true

pyright-docs:
  name: pyright-docs
  entry: uv run --extra=dev doccmd --language=python --command="pyright"
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-push

ruff-check-fix-docs:
  name: ruff check fix docs
  entry: uv run --extra=dev doccmd --language=python --command="ruff check --fix"
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

ruff-format-fix-docs:
  name: ruff format docs
  entry: uv run --extra=dev doccmd --language=python --no-pad-file --command="ruff format"
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

shellcheck-docs:
  name: shellcheck-docs
  entry: uv run --extra=dev doccmd --language=shell --language=console --command="shellcheck --shell=bash"
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

shfmt-docs:
  name: shfmt-docs
  entry: uv run --extra=dev doccmd --language=shell --language=console --skip-marker=shfmt --no-pad-file --command="shfmt --write --space-redirects --indent=4"
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

sphinx-lint:
  name: sphinx-lint
  entry: uv run --extra=dev sphinx-lint --enable all --max-line-length 200
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

Isolate the Snapper dependency group
  prek.toml
  pyproject.toml
Due: pyproject-fmt-fix

Enable Snapper Vale rules
  .vale.ini
  pyproject.toml
  styles/snapper/LongProseLine.yml
  styles/snapper/SemanticLineBreaks.yml
Due: actionlint, pyproject-fmt-fix, yamlfix

Use the Snapper 0.11.0 release
  pyproject.toml
Due: pyproject-fmt-fix

Use the development dependency group for Snapper
  prek.toml
  pyproject.toml
Due: pyproject-fmt-fix

Ban operator.attrgetter
  pyproject.toml
Due: pyproject-fmt-fix

Bump setup-uv to v10.1.0
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
Due: actionlint, yamlfix

Document transient Vale download failures
  prek.toml
Due: none

Use Snapper native parser in hook
  prek.toml
Due: none

Replace callback sequences with typed composition
  README.rst
  docs/source/conf.py
  docs/source/usage.rst
  newsfragments/compose-callbacks.change.rst
  pyproject.toml
  spelling_private_dict.txt
  src/click_compose/__init__.py
  tests/test_compose_callbacks.py
  tests/test_deduplicate.py
  tests/test_sequence_validator.py
Due: doc8, interrogate, interrogate-docs, mypy, mypy-docs, pylint, pyproject-fmt-fix, pyright, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, shellcheck-docs, shfmt-docs, sphinx-lint, vulture-docs

Bump CHANGELOG for 2026.09.16
  CHANGELOG.rst
  newsfragments/compose-callbacks.change.rst
Due: doc8, interrogate-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, shellcheck-docs, shfmt-docs, sphinx-lint, vulture-docs

Add typed same-type multi-callback helper
  docs/source/usage.rst
  newsfragments/+multi-callback.change.rst
  prek.toml
  src/click_compose/__init__.py
  tests/test_multi_callback.py
Due: doc8, interrogate, interrogate-docs, mypy, mypy-docs, pylint, pyright, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, shellcheck-docs, shfmt-docs, sphinx-lint, vulture-docs

Type-check multi-callback chains through ten stages
  docs/source/conf.py
  docs/source/usage.rst
  newsfragments/+multi-callback.change.rst
  src/click_compose/__init__.py
  tests/test_multi_callback.py
Due: doc8, interrogate, interrogate-docs, mypy, mypy-docs, pylint, pyright, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, shellcheck-docs, shfmt-docs, sphinx-lint, vulture-docs

Link upstream typing discussions beside overloads
  src/click_compose/__init__.py
Due: interrogate, mypy, pylint, pyright

Use multi_callback as sole composition helper
  README.rst
  docs/source/usage.rst
  newsfragments/+multi-callback.change.rst
  src/click_compose/__init__.py
  tests/test_multi_callback_click.py
Due: doc8, interrogate, interrogate-docs, mypy, mypy-docs, pylint, pyright, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, shellcheck-docs, shfmt-docs, sphinx-lint, vulture-docs

Prepare 2026.09.16.1 release changelog
  CHANGELOG.rst
  newsfragments/+multi-callback.change.rst
Due: doc8, interrogate-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, shellcheck-docs, shfmt-docs, sphinx-lint, vulture-docs

Pin click-compose version for doccmd hooks
  prek.toml
Due: none

Bump doccmd to 2026.9.16.1
  prek.toml
Due: none

Test callback properties with CrossHair
  .github/workflows/ci.yml
  pyproject.toml
  tests/test_deduplicate.py
  tests/test_sequence_validator.py
Due: actionlint, interrogate, mypy, pylint, pyproject-fmt-fix, pyright, yamlfix

Use keyword arguments for environment lookup
  tests/test_deduplicate.py
  tests/test_sequence_validator.py
Due: interrogate, mypy, pylint, pyright

Use spelling-friendly property description
  tests/test_deduplicate.py
Due: interrogate, mypy, pylint, pyright

Extract sequence deduplication from Click callback
  src/click_compose/__init__.py
Due: interrogate, mypy, pylint, pyright

Verify deduplication contracts with CrossHair
  .github/workflows/ci.yml
  pyproject.toml
  src/click_compose/__init__.py
Due: actionlint, interrogate, mypy, pylint, pyproject-fmt-fix, pyright, yamlfix

Accept contract terminology in spelling checks
  spelling_private_dict.txt
Due: doc8

Prefer exact assertions in tests
  tests/test_deduplicate.py
  tests/test_multi_callback_click.py
  tests/test_sequence_validator.py
Due: interrogate, mypy, pylint, pyright

Enable every ty rule
  pyproject.toml
Due: pyproject-fmt-fix

Update Pylint to 4.0.9
  pyproject.toml
Due: pyproject-fmt-fix

Remove obsolete Mypy faster-cache extra
  pyproject.toml
Due: pyproject-fmt-fix

Replace pytest-beartype-tests with pytest-beartype
  pyproject.toml
Due: pyproject-fmt-fix

Update mypy to 2.4.0
  pyproject.toml
Due: pyproject-fmt-fix

Enable Vale FigurativeLands checking
  .vale.ini
  docs/source/unreleased.rst
Due: doc8, interrogate-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, shellcheck-docs, shfmt-docs, sphinx-lint, vulture-docs

Configure Mypy parallelism in pyproject.toml
  prek.toml
  pyproject.toml
Due: pyproject-fmt-fix

Check pytest parametrization with mypy-pytest-parametrize
  pyproject.toml
Due: pyproject-fmt-fix

Move coverage settings into pyproject.toml
  .github/workflows/ci.yml
  pyproject.toml
Due: actionlint, pyproject-fmt-fix, yamlfix

Use native Markdown for release notes and changelog history
  .github/workflows/release.yml
  CHANGELOG.md
  CHANGELOG.rst
  docs/source/changelog.md
  docs/source/changelog.rst
  docs/source/changelog/2025.10.27.1.md
  docs/source/changelog/2025.10.27.2.md
  docs/source/changelog/2025.10.27.3.md
  docs/source/changelog/2025.10.27.md
  docs/source/changelog/2026.09.08.md
  docs/source/changelog/2026.09.16.1.md
  docs/source/changelog/2026.09.16.md
  docs/source/conf.py
  docs/source/unreleased.md
  docs/source/unreleased.rst
  docs/towncrier_template.rst.jinja
  newsfragments/+native-markdown.change.md
  newsfragments/README.md
  pyproject.toml
  spelling_private_dict.txt
Due: actionlint, doc8, interrogate, interrogate-docs, mypy, mypy-docs, pylint, pyproject-fmt-fix, pyright, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, shellcheck-docs, shfmt-docs, sphinx-lint, vulture-docs, yamlfix

Allow cancelled completion jobs to stop
  .github/workflows/ci.yml
  .github/workflows/lint.yml
Due: actionlint, yamlfix

Run validation workflows for stacked pull requests
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/publish-site.yml
  newsfragments/+1b55b17f.change.md
Due: actionlint, interrogate-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, shellcheck-docs, shfmt-docs, vulture-docs, yamlfix

Require released Beartype 0.23.0
  newsfragments/+beartype-0.23.change.md
  pyproject.toml
Due: interrogate-docs, mypy-docs, pyproject-fmt-fix, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, shellcheck-docs, shfmt-docs, vulture-docs

Keep release notes compatible with documentation lint
  newsfragments/+beartype-0.23.change.md
Due: interrogate-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, shellcheck-docs, shfmt-docs, vulture-docs

Show tracebacks for Mypy crashes
  pyproject.toml
Due: pyproject-fmt-fix

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  doc8: any of: \.(rst|txt)$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pylint: any of: \.py$
  pyproject-fmt-fix: any of: pyproject.toml
  pyright: any of: \.py$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  sphinx-lint: any of: \.rst$
  vulture-docs: any of: \.(md|markdown|mdown)$, \.rst$
  yamlfix: any of: \.(yaml|yml)$
