Repository adamtheturtle/click-compose: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, doc8, interrogate, interrogate-docs, mypy, mypy-docs, pylint, pyproject-fmt-fix, pyright, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, shellcheck-docs, shfmt-docs, sphinx-lint, vulture-docs, yamlfix

actionlint:
  name: actionlint
  entry: uv run --extra=dev actionlint
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

doc8:
  name: doc8
  entry: uv run --extra=dev doc8
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

interrogate:
  name: interrogate
  entry: uv run --extra=dev interrogate
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-push

interrogate-docs:
  name: interrogate docs
  entry: uv run --extra=dev doccmd --language=python --command="interrogate"
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

mypy:
  name: mypy
  entry: uv run --extra=dev mypy
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-push
  require_serial: true

mypy-docs:
  name: mypy-docs
  entry: uv run --extra=dev doccmd --language=python --command="mypy"
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-push

pylint:
  name: pylint
  entry: uv run --extra=dev pylint
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-push
  require_serial: true

pyproject-fmt-fix:
  name: pyproject-fmt
  entry: uv run --extra=dev pyproject-fmt
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

pyright:
  name: pyright
  entry: uv run --extra=dev pyright
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-push
  require_serial: true

pyright-docs:
  name: pyright-docs
  entry: uv run --extra=dev doccmd --language=python --command="pyright"
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-push

ruff-check-fix-docs:
  name: ruff check fix docs
  entry: uv run --extra=dev doccmd --language=python --command="ruff check --fix"
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

ruff-format-fix-docs:
  name: ruff format docs
  entry: uv run --extra=dev doccmd --language=python --no-pad-file --command="ruff format"
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

shellcheck-docs:
  name: shellcheck-docs
  entry: uv run --extra=dev doccmd --language=shell --language=console --command="shellcheck --shell=bash"
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

shfmt-docs:
  name: shfmt-docs
  entry: uv run --extra=dev doccmd --language=shell --language=console --skip-marker=shfmt --no-pad-file --command="shfmt --write --space-redirects --indent=4"
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

sphinx-lint:
  name: sphinx-lint
  entry: uv run --extra=dev sphinx-lint --enable all --max-line-length 200
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

Bump strict-kwargs and use diff mode
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, pyproject-fmt-fix, yamlfix

Ban dynamic builtins and typing.cast in lint config.
  pyproject.toml
Due: pyproject-fmt-fix

Drive changelog releases from towncrier
  .github/workflows/release.yml
  CHANGELOG.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/unreleased.rst
  docs/towncrier_template.rst.jinja
  newsfragments/+migrated-next.change.rst
  newsfragments/.gitkeep
  pyproject.toml
Due: actionlint, doc8, interrogate, interrogate-docs, mypy, mypy-docs, pylint, pyproject-fmt-fix, pyright, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, shellcheck-docs, shfmt-docs, sphinx-lint, vulture-docs, yamlfix

Add towncrier to release extra
  pyproject.toml
Due: pyproject-fmt-fix

Make useless Pylint suppressions fail lint
  pyproject.toml
Due: pyproject-fmt-fix

Apply pyproject-fmt 2.23.0 formatting changes.
  pyproject.toml
Due: pyproject-fmt-fix

Fix pre-commit hook for strict-kwargs 2026.6.4 CLI change
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Remove obsolete bdist_wheel.universal setting.
  pyproject.toml
Due: pyproject-fmt-fix

Add no-defaults linting
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, pyproject-fmt-fix, yamlfix

Bump no-defaults to v1.0.1
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Run no-defaults as a local uv hook
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, pyproject-fmt-fix, yamlfix

Lint reStructuredText prose with Vale
  .gitignore
  .pre-commit-config.yaml
  .vale.ini
  pyproject.toml
Due: actionlint, pyproject-fmt-fix, yamlfix

Sync Vale styles when ``.vale.ini`` changes
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Lint Markdown prose with Vale
  .pre-commit-config.yaml
  .vale.ini
Due: actionlint, yamlfix

Bump beartype to 0.23.0rc0
  pyproject.toml
Due: pyproject-fmt-fix

Switch Vale to the upstream ai-tells package
  .pre-commit-config.yaml
  .vale.ini
Due: actionlint, yamlfix

Configure mypy to respect gitignore
  pyproject.toml
Due: pyproject-fmt-fix

Switch pre-commit config from YAML to prek.toml
  .pre-commit-config.yaml
  prek.toml
  pyproject.toml
Due: actionlint, pyproject-fmt-fix, yamlfix

fix: docs: add CODE_OF_CONDUCT
  CODE_OF_CONDUCT.md
Due: interrogate-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, shellcheck-docs, shfmt-docs, vulture-docs

Allow decorator application under mypy-strict-kwargs 2026.8.20.1
  pyproject.toml
Due: pyproject-fmt-fix

Fix Vale AIAdjectiveNounPairs on changelog entry
  CHANGELOG.rst
Due: doc8, interrogate-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, shellcheck-docs, shfmt-docs, sphinx-lint, vulture-docs

Bump mypy-strict-kwargs to 2026.8.25
  pyproject.toml
Due: pyproject-fmt-fix

Bump to mypy-strict-kwargs 2026.8.25.1
  pyproject.toml
Due: pyproject-fmt-fix

Make towncrier reject invalid fragment suffixes
  pyproject.toml
Due: pyproject-fmt-fix

Make pyrefly error on unused ignore comments
  pyproject.toml
Due: pyproject-fmt-fix

Use the pyrefly strict preset
  pyproject.toml
  tests/test_sequence_validator.py
Due: interrogate, mypy, pylint, pyproject-fmt-fix, pyright

Use the pyrefly all preset
  prek.toml
  pyproject.toml
Due: pyproject-fmt-fix

Make documentation checks portable
  prek.toml
Due: none

Use PEP 735 dependency groups
  .github/workflows/ci.yml
  .github/workflows/release.yml
  prek.toml
  pyproject.toml
Due: actionlint, pyproject-fmt-fix, yamlfix

Use dependency groups in deployment workflows
  .github/workflows/publish-site.yml
Due: actionlint, yamlfix

Use Ty's strictest recommended configuration
  pyproject.toml
  src/click_compose/__init__.py
Due: interrogate, mypy, pylint, pyproject-fmt-fix, pyright

Configure checker-specific ignore comments
  pyproject.toml
Due: pyproject-fmt-fix

Prepare 2026.09.08 release
  CHANGELOG.rst
  newsfragments/+migrated-next.change.rst
Due: doc8, interrogate-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, shellcheck-docs, shfmt-docs, sphinx-lint, vulture-docs

Support publishing an existing release tag
  .github/workflows/release.yml
Due: actionlint, yamlfix

Apply workflow formatting
  .github/workflows/release.yml
Due: actionlint, yamlfix

Enforce semantic line breaks with Snapper
  .github/workflows/semantic-line-breaks.yml
  docs/source/unreleased.rst
Due: actionlint, doc8, interrogate-docs, mypy-docs, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, shellcheck-docs, shfmt-docs, sphinx-lint, vulture-docs, yamlfix

Run Snapper through Prek
  .github/workflows/semantic-line-breaks.yml
  prek.toml
  pyproject.toml
Due: actionlint, pyproject-fmt-fix, yamlfix

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  doc8: any of: \.(rst|txt)$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pylint: any of: \.py$
  pyproject-fmt-fix: any of: pyproject.toml
  pyright: any of: \.py$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  sphinx-lint: any of: \.rst$
  vulture-docs: any of: \.(md|markdown|mdown)$, \.rst$
  yamlfix: any of: \.(yaml|yml)$
