Repository adamtheturtle/click-compose: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, doc8, interrogate, mypy, pylint, pyproject-fmt-fix, pyright, sphinx-lint, yamlfix

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  doc8: any of: \.(rst|txt)$
  interrogate: any of: \.py$
  mypy: any of: \.py$
  pylint: any of: \.py$
  pyproject-fmt-fix: any of: pyproject.toml
  pyright: any of: \.py$
  sphinx-lint: any of: \.rst$
  yamlfix: any of: \.(yaml|yml)$

Fix some lint issues
  .pre-commit-config.yaml
  docs/source/conf.py
  spelling_private_dict.txt
  tests/test_integration.py
  tests/test_multi_callback.py
  tests/test_sequence_validator.py
Due: actionlint, doc8, interrogate, mypy, pylint, pyright, yamlfix

Fix pyright
  src/click_compose/__init__.py
Due: interrogate, mypy, pylint, pyright

Fix build
  docs/source/conf.py
Due: interrogate, mypy, pylint, pyright

Sort a file
  Makefile
  spelling_private_dict.txt
Due: doc8

Fix docstrings
  tests/test_integration.py
  tests/test_multi_callback.py
  tests/test_sequence_validator.py
Due: interrogate, mypy, pylint, pyright

Fix YAML
  .github/workflows/ci.yml
Due: actionlint, yamlfix

Configure prettier in line with yamlfix
  .prettierrc
Due: none

Do not require prettierrc in manifest
  pyproject.toml
Due: pyproject-fmt-fix

Remove examples section
  docs/source/index.rst
Due: doc8, sphinx-lint

Remove integration test file
  tests/test_integration.py
Due: interrogate, mypy, pylint, pyright

Remove useless test
  tests/conftest.py
  tests/test_multi_callback.py
Due: interrogate, mypy, pylint, pyright

Remove useless release step
  .github/workflows/release.yml
Due: actionlint, yamlfix

Fix uv.lock in gitignore
  .gitignore
Due: none

Bump CHANGELOG
  CHANGELOG.rst
Due: doc8, sphinx-lint

Remove version bump in README from release
  .github/workflows/release.yml
Due: actionlint, yamlfix

Support Python 3.10
  .github/workflows/ci.yml
  pyproject.toml
Due: actionlint, pyproject-fmt-fix, yamlfix

Check tests with beartype
  pyproject.toml
  tests/conftest.py
Due: interrogate, mypy, pylint, pyproject-fmt-fix, pyright

Use beartype on public functions
  src/click_compose/__init__.py
Due: interrogate, mypy, pylint, pyright

Fix spelling
  tests/conftest.py
Due: interrogate, mypy, pylint, pyright

Add documentation checks
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, pyproject-fmt-fix, yamlfix

Passing linters (with ignores)
  README.rst
  docs/source/usage.rst
  pyproject.toml
Due: doc8, pyproject-fmt-fix, sphinx-lint

Fix more lint issues
  README.rst
  docs/source/usage.rst
  pyproject.toml
Due: doc8, pyproject-fmt-fix, sphinx-lint

Fix pylint-docs
  README.rst
  docs/source/usage.rst
  pyproject.toml
Due: doc8, pyproject-fmt-fix, sphinx-lint

Fix an echo call
  docs/source/usage.rst
Due: doc8, sphinx-lint

Working mypy-docs
  README.rst
  docs/source/usage.rst
Due: doc8, sphinx-lint

Add deduplicate
  src/click_compose/__init__.py
  tests/test_deduplicate.py
Due: interrogate, mypy, pylint, pyright

Work around spell checker
  tests/test_deduplicate.py
Due: interrogate, mypy, pylint, pyright

Bump uv to 0.9.5
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Bump uv to 0.9.5 (#10)
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Fix double title
  docs/source/changelog.rst
Due: doc8, sphinx-lint

Document deduplicate with examples
  README.rst
  docs/source/usage.rst
Due: doc8, sphinx-lint

Work around spell checker
  README.rst
  docs/source/usage.rst
Due: doc8, sphinx-lint

Add view and edit buttons to Sphinx docs
  docs/source/conf.py
Due: interrogate, mypy, pylint, pyright

Configure Furo top-of-page buttons with repository details
  docs/source/conf.py
Due: interrogate, mypy, pylint, pyright

Add --no-write-to-file flag for read-only doccmd commands
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Bump dependencies
  pyproject.toml
Due: pyproject-fmt-fix

Add --example-workers 0 to read-only doccmd hooks
  .pre-commit-config.yaml
Due: actionlint, yamlfix
