Repository adamtheturtle/click-compose: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, doc8, interrogate, interrogate-docs, mypy, mypy-docs, pylint, pyproject-fmt-fix, pyright, pyright-docs, ruff-check-fix-docs, ruff-format-fix-docs, shellcheck-docs, shfmt-docs, sphinx-lint, vulture-docs, yamlfix

actionlint:
  name: actionlint
  entry: uv run --extra=dev actionlint
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

doc8:
  name: doc8
  entry: uv run --extra=dev doc8
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

interrogate:
  name: interrogate
  entry: uv run --extra=dev interrogate
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-push

interrogate-docs:
  name: interrogate docs
  entry: uv run --extra=dev doccmd --language=python --command="interrogate"
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

mypy:
  name: mypy
  entry: uv run --extra=dev mypy
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-push
  require_serial: true

mypy-docs:
  name: mypy-docs
  entry: uv run --extra=dev doccmd --language=python --command="mypy"
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-push

pylint:
  name: pylint
  entry: uv run --extra=dev pylint
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-push
  require_serial: true

pyproject-fmt-fix:
  name: pyproject-fmt
  entry: uv run --extra=dev pyproject-fmt
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

pyright:
  name: pyright
  entry: uv run --extra=dev pyright
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-push
  require_serial: true

pyright-docs:
  name: pyright-docs
  entry: uv run --extra=dev doccmd --language=python --command="pyright"
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-push

ruff-check-fix-docs:
  name: ruff check fix docs
  entry: uv run --extra=dev doccmd --language=python --command="ruff check --fix"
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

ruff-format-fix-docs:
  name: ruff format docs
  entry: uv run --extra=dev doccmd --language=python --no-pad-file --command="ruff format"
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

shellcheck-docs:
  name: shellcheck-docs
  entry: uv run --extra=dev doccmd --language=shell --language=console --command="shellcheck --shell=bash"
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

shfmt-docs:
  name: shfmt-docs
  entry: uv run --extra=dev doccmd --language=shell --language=console --skip-marker=shfmt --no-pad-file --command="shfmt --write --space-redirects --indent=4"
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

sphinx-lint:
  name: sphinx-lint
  entry: uv run --extra=dev sphinx-lint --enable all --max-line-length 200
  language: python
  additional_dependencies:
  - uv==0.6.3
  stages:
  - pre-commit

Bump click
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, pyproject-fmt-fix, yamlfix

Add validation for gha-find-replace actions
  .github/workflows/release.yml
Due: actionlint, yamlfix

Handle None values in sequence_validator and deduplicate
  src/click_compose/__init__.py
  tests/test_deduplicate.py
  tests/test_sequence_validator.py
Due: interrogate, mypy, pylint, pyright

Simplify test to achieve 100% coverage
  tests/test_sequence_validator.py
Due: interrogate, mypy, pylint, pyright

Bump beartype to 0.22.9
  pyproject.toml
Due: pyproject-fmt-fix

Add ty to pre-commit
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, pyproject-fmt-fix, yamlfix

Add blank lines between hooks in pre-commit config
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Add Claude Code LSP plugin for Python (pyright)
  .claude/plugins/pyright-lsp/.claude-plugin/plugin.json
  .claude/plugins/pyright-lsp/.lsp.json
Due: none

Add pyrefly type checker
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, pyproject-fmt-fix, yamlfix

Add zizmor for GitHub Actions security linting
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, pyproject-fmt-fix, yamlfix

Add zizmor config and ignore in check-manifest
  pyproject.toml
  zizmor.yml
Due: actionlint, pyproject-fmt-fix, yamlfix

Fix zizmor issues in GitHub workflows
  .github/workflows/ci.yml
  .github/workflows/publish-site.yml
  .github/workflows/release.yml
Due: actionlint, yamlfix

Fix release.yml: remove persist-credentials and suppress artipacked rule
  .github/workflows/release.yml
  zizmor.yml
Due: actionlint, yamlfix

Switch from pre-commit to prek
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, pyproject-fmt-fix, yamlfix

Make prettier more compatible with yamlfix
  .prettierrc
Due: none

Fix prettier config
  .prettierrc
Due: none

Make zizmor collection strict
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Fix zizmor warning in release workflow
  .github/workflows/release.yml
Due: actionlint, yamlfix

Remove uv version pin
  .github/workflows/release.yml
Due: actionlint, yamlfix

Replace docformatter with pydocstringformatter
  .pre-commit-config.yaml
  docs/source/__init__.py
  docs/source/conf.py
  pyproject.toml
  src/click_compose/__init__.py
  tests/__init__.py
  tests/conftest.py
  tests/test_deduplicate.py
  tests/test_multi_callback.py
  tests/test_sequence_validator.py
Due: actionlint, interrogate, mypy, pylint, pyproject-fmt-fix, pyright, yamlfix

Fix: Remove --example-workers 0 only from mypy-docs hook
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Add comment explaining why --example-workers 0 is not used for mypy-docs
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Support Python 3.14
  .github/workflows/ci.yml
  pyproject.toml
Due: actionlint, pyproject-fmt-fix, yamlfix

Add ty unused-ignore-comment rule
  pyproject.toml
Due: pyproject-fmt-fix

Add ty unused-ignore-comment rule and disable type: ignore support
  pyproject.toml
Due: pyproject-fmt-fix

Add ty error-on-warning and disable type: ignore support
  pyproject.toml
Due: pyproject-fmt-fix

Apply pyproject-fmt formatting changes
  pyproject.toml
Due: pyproject-fmt-fix

Add pre-commit lite action to CI
  .github/workflows/ci.yml
Due: actionlint, yamlfix

Run pre-commit lite action once per workflow
  .github/workflows/ci.yml
Due: actionlint, yamlfix

Run pre-commit lite action in lint job
  .github/workflows/ci.yml
Due: actionlint, yamlfix

Bump pyproject-fmt to 2.14.0 and apply formatting
  pyproject.toml
Due: pyproject-fmt-fix

Work around toml-fmt array comment bugs
  pyproject.toml
Due: pyproject-fmt-fix

Bump pyproject-fmt to 2.14.2
  pyproject.toml
Due: pyproject-fmt-fix

Update pyproject-fmt to 2.15.2
  pyproject.toml
Due: pyproject-fmt-fix

Matrix lint workflow by hook stage
  .github/workflows/ci.yml
Due: actionlint, yamlfix

Add pyrefly non-exhaustive match as error
  pyproject.toml
Due: pyproject-fmt-fix

Enable coverage report.show_missing
  pyproject.toml
Due: pyproject-fmt-fix

Use native pytest TOML configuration
  pyproject.toml
Due: pyproject-fmt-fix

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  doc8: any of: \.(rst|txt)$
  interrogate: any of: \.py$
  interrogate-docs: any of: \.(md|markdown|mdown)$, \.rst$
  mypy: any of: \.py$
  mypy-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pylint: any of: \.py$
  pyproject-fmt-fix: any of: pyproject.toml
  pyright: any of: \.py$
  pyright-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-check-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  ruff-format-fix-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  sphinx-lint: any of: \.rst$
  vulture-docs: any of: \.(md|markdown|mdown)$, \.rst$
  yamlfix: any of: \.(yaml|yml)$
